

.h_banner{
	background-color: #88dfd6;
	background-image: url(../img/sunday-01.jpg);
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 25px;
	padding-bottom: 20.315789%;
}

.maininfo{

	width: 100%;
	background-color: #88dfd6;
}


.row{
	background-color: #88dfd6;}

.maps{
	width:80%;
	background-color: #333;
	padding: 15px;
	border-radius: 10px;
}

@media (max-width: 767px){
	
	.h_banner{
		height: 125px;
		background-image: url(../img/sunday-02.jpg);

	}
	.maininfo{
	margin: 0px;
	}

	.maps{
		width:100%;

	}
	h3,h4,p{
		margin:15px;
	}

}
.hl{
	color: #19596b;
}
